bin-language-switcher {
  display: inline-block;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }

  > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .btn-language-switcher {
    color: inherit;

    span {
      text-decoration: underline;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .dropdown-menu {
    left: auto;
    right: 0;
  }
}