[i18n]:not([read-only]),
i18n:not([read-only]),
[bin-link]:not([read-only]),
bin-link:not([read-only]) {
  position: relative;
  display: block;
  &.inline {
    display: inline-block;
  }
}

a, span, small, strong {
  &[i18n]:not([read-only]),
  [bin-link]:not([read-only]) {
    display: inline-block;
  }
}